extends layout.pug

block content
  h1= title
  table
    thead
      tr
        td Dagskrá
    tbody
      for channel in channels
        tr
          td
            p Titill:
            a(href='tv/' + channel.title) #{channel.title}
            p Lýsing:
            p= channel.description
            p Dagsetning:
            p= channel.startTime
            p Sýningartími:
            p= channel.duration